In [1]:
import pandas as pd

In [6]:
filename = '5Konly_cleaned.csv'

In [7]:
df = pd.read_csv(filename, header=0)

In [13]:
df = df.rename(index=str, columns={'Unnamed: 0.1':'position'})

In [16]:
df = df.drop(columns=['Unnamed: 0'])

In [18]:
df.head()

,position,age_group,chip_time,gun_time,name,position,race_title,sex,terrain,race_data,race_location,meeting_id,uniqueID
0,0,SEN,14:44,14:44,Conor Bradley,1.0,5K,M,Road,29 Mar 17,Belfast,199660,1
1,1,SEN,14:48,14:48,Daniel Mooney,2.0,5K,M,Road,29 Mar 17,Belfast,199660,1
2,2,U23,14:48,14:48,Ben Branagh,3.0,5K,M,Road,29 Mar 17,Belfast,199660,1
3,3,U23,14:51,14:51,Neil Johnston,4.0,5K,M,Road,29 Mar 17,Belfast,199660,1
4,4,SEN,15:06,15:06,Christopher Madden,5.0,5K,M,Road,29 Mar 17,Belfast,199660,1

In [21]:
IDs = df['meeting_id'].tolist()
uniqueIDs = set(IDs)

In [25]:
gpx_data = pd.read_csv('gpx_discover.csv',header=0)

In [28]:
gpx_data.columns

Index(['URL', 'Event name', 'Race name', 'GPX file'], dtype='object')

In [26]:
gpx_data.head()

,URL,Event name,Race name,GPX file
0,https://www.runbritainrankings.com/results/res...,Leeds & Liverpool Canal Christmas Cracker (Day 1),Half_Marathon,Leeds_Liverpool_Christmas_Cracker.gpx
1,https://www.runbritainrankings.com/results/res...,Leeds & Liverpool Canal Christmas Cracker (Day 1),Marathon,Kirkstall_Christmas_Cracker_Marathon.gpx
2,https://www.runbritainrankings.com/results/res...,Leeds & Liverpool Canal Christmas Cracker (Day 1),5K,NO RESULT
3,https://www.runbritainrankings.com/results/res...,Leeds & Liverpool Canal Christmas Cracker (Day 1),10K,NO RESULT
4,https://www.runbritainrankings.com/results/res...,Draycote Water Winter 10K Series,10k,Draycote_Water_10k_shite_If_you_hear_me_talkin...

In [41]:
def cut_up_url(url):
    flag = 'meetingid='
    start = url.find(flag)+len(flag) 
    end   = url.find('&')
    substr = url[start:end]
    return substr

In [42]:
gpx_data['meeting_id'] = gpx_data['URL'].apply(lambda x: cut_up_url(x))

In [53]:
gpx_data.loc[gpx_data['Race name']=='10k','Race name'] = '10K'
gpx_data.loc[gpx_data['Race name']=='5k','Race name'] = '5K'

In [57]:
fivek = gpx_data[gpx_data['Race name']=='5K']

In [58]:
gpx_IDs = fivek['meeting_id'].tolist()
gpxuniqueIDs = set(gpx_IDs)
sorted(gpxuniqueIDs, reverse=True)

['276070',
 '275005',
 '271798',
 '270756',
 '270752',
 '268625',
 '268550',
 '268472',
 '268470',
 '268468',
 '267415',
 '267407',
 '266394',
 '266388',
 '266387',
 '265373',
 '265368',
 '265343',
 '265339',
 '265276',
 '264275',
 '264178',
 '264163',
 '264160',
 '264154',
 '264097',
 '260990',
 '260989',
 '260874',
 '260873',
 '260870',
 '260869',
 '257771',
 '257770',
 '256487',
 '250088',
 '249490',
 '248771',
 '248770',
 '236236',
 '233893',
 '230649',
 '226100',
 '226057']